<!-- story/components/legend_panel.html -->
<div id="legend-panel" aria-label="Chart Legend" class="hidden">
  <button id="legend-close">✖</button>
  <h3>Notes</h3>
  <p>To get further details about publications that are not Open Access, please click on the <i>Non Open Access</i> slice.</p>
  <p>Due to the conglomerate of many sources in OpenAlex it is possible that there are publications missing or wrongly listed. Please feel free to remove a "wrong" publication in the visualization by clicking <i>This is not my publication</i> in the tooltip.</p>
  <p>By clicking on <i>Green Open Access possible</i> in the tooltip you can look up options of secondary open access publishing based on the publishing guidlines of the journal based on Open Policy Finder.
    
  <div id="legend-types">
  </div>
    

  <div id="legend-subjects">
  </div>

  <div id="legend-oa">
    <h4 id="legend-green-oa" class="legend-clickable">✅ Green Open Access possible</h4>
    <h4 id="legend-all" class="legend-clickable">All</h4>
  </div>
</div>
